@import "tailwindcss";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Kode Mono';
  src: url("/assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf");
}

@theme {
  --font-sans: 'Montserrat';
  --font-mono: 'Kode Mono';
}

@layer base {
  html,
  body {
    @apply select-none;
  }
}

@layer components {
  .scrollbar-transparent {
    scrollbar-width: none;
  }
}
