@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Kode Mono';
  src: url("/assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf");
}

:root {
  --bg: theme(colors.stone.200);
  --fg: theme(colors.stone.800);
}

.dark {
  --bg: theme(colors.stone.900);
  --fg: theme(colors.stone.300);
}

@theme {
  --font-sans: 'Montserrat';
  --font-mono: 'Kode Mono';
  --color-bg: var(--bg);
  --color-fg: var(--fg);
}

@layer base {
  html,
  body {
    @apply text-fg bg-bg border-fg outline-fg select-none transition-colors;
  }
}

@layer components {
  .scrollbar-none {
    scrollbar-width: none;
  }
}
